body {
    background: #19b01e;
}


.main-title {
    color: red;
    text-align: center;
}

.Block-1 {
    border: 20px solid black;
    border-radius: 15px;
    width: 50%;
}

.line {
    color: blue;
}

.code {
    
}